{{#if use_load_btn}}
<div class="global-pagination-load-more-button-wrapper">
    {{#if showLoadMoreButton}}
    <button type="button" class="global-pagination-load-more-button" data-action="change-page">Load More</button>
    <span class="icon-loader"></span>
    {{/if}}
</div>
{{else if showPagination}}
<ul class="global-pagination-wrapper">
    {{#each pages}}
    {{#if isFirstPage}}
    <li class="global-pagination-page">
        <a href="{{href}}" class="global-pagination-page-link" aria-label="First">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">First</span>
        </a>
    </li>
    {{else if isLastPage}}
    <li class="global-pagination-page">
        <a href="{{href}}" class="global-pagination-page-link" aria-label="Last">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Last</span>
        </a>
    </li>
    {{else}}
    <li class="global-pagination-page {{#if isActive}}active{{/if}} {{#if isActive}}disabled{{/if}}">
        <a href="{{href}}" class="global-pagination-page-link">{{text}}</a>
    </li>
    {{/if}}
    {{/each}}
</ul>
{{/if}}