<div class="media-collection-media-wrapper">
    <a class="media-collection-media-link" href="{{media_type}}/{{id}}">
        <img class="media-collection-media-image" src="{{getTmdbImageLink poster_path 'w300'}}" alt="{{#if title}}{{title}}{{else}}{{name}}{{/if}}">
    </a>
    <div class="media-collection-media-attribute-wrapper">
        <div class="media-collection-media-rating-view" data-view="Media.Rating"></div>
        <div class="media-collection-media-popularity">
            <span  class="media-collection-media-popularity-count">{{popularity_formatted}}</span>
            <span class="media-collection-media-popularity-icon"></span>
        </div>
        <p class="card-dark-theme-text">{{name}}</p>
    </div>
</div>