<div class="media-collection-media-wrapper">
    <a class="media-collection-media-link" href="{{media_type}}/{{id}}">
        <img class="media-collection-media-image" src="{{getTmdbImageLink poster_path poster_size}}" alt="{{#if title}}{{title}}{{else}}{{name}}{{/if}}">
    </a>
    <div class="media-collection-media-attribute-wrapper">
        <p class="media-collection-media-rating-wrapper">
            <i class="media-collection-media-rating-icon"></i>
            <span class="media-collection-media-rating">{{#if rating_avg}}{{rating_avg}}{{/if}}</span>
        </p>
        <p class="card-dark-theme-text">
            {{#ifEquals media_type 'tv'}}{{name}}{{else}}{{title}}{{/ifEquals}}
        </p>
    </div>
</div>