<div class="media-collections-sort-and-filter-wrapper">
    {{#if genreFilter.show}}
    <div class="genres-filter-container">
        <label class="genres-filter-icon-wrapper collapsed" data-toggle="collapse" aria-expanded="false" data-target="#genre-filter-list">
            <i class="genres-filter-icon"></i>
            <span class="genres-filter-text">Genres</span>
            {{#if genreFilter.count}}
            <span class="genres-filter-count">{{genreFilter.count}}</span>
            {{/if}}
        </label>
        <div class="genres-filter-modal collapse" id="genre-filter-list">
            <div class="genres-filter-action-wrapper">
                <button class="genres-filter-apply-buton" data-action="apply">Apply</button>
            </div>
            <div class="genres-filters-wrapper" data-filter-fragment="{{genreFilter.href}}">
                {{#each genreFilter.values}}
                <label for="{{id}}" class="genres-filter-item">
                    <input class="genres-filter-input" type="checkbox" name="{{name}}" id="{{id}}" data-type="genre" {{#if isActive}}checked{{/if}}>
                    <span class="genres-filter-name">{{name}}</span>
                </label>
                {{/each}}
            </div>
        </div>
    </div>
    {{/if}}
    <div data-view="SortBy.View"></div>
</div>
<div id="item-collection-container">
    <div data-view="Items.Collection.View"></div>
</div>
<div data-view="Pagination.View"></div>